.input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.CustomInputWrapper {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    border: 0.5px solid var(--gray-border);
    border-radius: 4px;
    color: var(--text-gray);
}

.wrapper {
    position: relative;
}

.label {
    background: #E9ECEF;
    padding: 12px 8px;
    border-left: 0.5px solid var(--gray-border);
    color: var(--text-gray);
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: var(--gray-border);
        color: #fff;
    }
}

.placeholder {
    padding: 12px 8px;
}