.textWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-weight: "Roboto";
    color: #868E96;
    font-size: 13px;
}

.textProgress {
    color: #5A6169;
    font-family: "Roboto";
}

.wrapper {
    width: 100%;
}

.progress {
    width: 100%;
}