.car {
    &__action {

        & {
            display: flex;
        }

        &_btn {
            display: flex;
            align-items: center;
            height: 25px;
            border: 1px solid #BECAD6;
            transition: all .3s ease;
            color: #5A6169;

            &:hover {
                background: var(--gray-light);
            }

            &:first-child {
                border-radius: 4px 0px 0px 4px;
            }

            &:last-child {
                border-radius: 0px 4px 4px 0px;
            }

            span {
                margin-left: 7px;
            }
        }
    }
}