@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/Roboto-Medium.ttf');
}

:root {
  --primary-green: #0ec261;
  --primary-black: #121212;
  --gray-dark: #999999;
  --gray-light: #eeeeee;

  --media-small: 640px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input,
input::placeholder,
button {
  font-family: 'Roboto';
}

hr {
  border: 1px solid #eeeeee;
  margin: 0px;
}
