.header {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__countWrapper {
        display: flex;

        span {
            margin-right: 5px;
        }
    }
}