.pagination {
    border-top: 1px solid #E0E2E8;
    padding: 20px 10px;
    background: #fff;
    border-radius: 0px 0px 9px 9px;

    &_disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

.goBack {
    text-align: center;
}