.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    padding: 10px 12px;
    border-bottom: 1px solid #E0E2E8;

    &__items {
        display: flex;
        flex-wrap: wrap;
    }
}