.cancelBtn {
    margin-left: 12.5px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__butttons {
        display: flex;
        margin-bottom: 10px;
    }
}