.wrapper {
    border-radius: 9px;
    background: #FFFFFF;
    box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11),
    0px 4px 8px rgba(90, 97, 105, 0.12),
    0px 10px 10px rgba(90, 97, 105, 0.06),
    0px 7px 7px rgba(90, 97, 105, 0.1);
    padding: 20px;
    width: 73%;
}
    
.header { 

    margin-bottom: 40px;

    h2 {
        color: var(--primary-dark-blue);
        font-family: "Roboto";
        font-size: 17px;
        font-weight: 500;
    }
}

.label {
    
    & {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px 20px 10px 0px;
        min-width: 350px;
    }

    &__text {
        font-size: 11px;
        color: var(--primary-black);
        margin-bottom: 5px;
    }

}

.settingsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}