.headerCityCount_loading {
    align-items: flex-start;
}

.CitiesTable {

    & {
        font-weight: bold;
    }

    &__header {
        & {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            font-weight: bold;
        }

        &__countWrapper {
            display: flex;
    
            span {
                margin-right: 5px;
            }
        }
    }       

}

.tableData{
    &__name {
        padding: 15px 0px;
    }
}

.pagination {
    border-top: 1px solid #E0E2E8;
    padding: 20px 10px;
    background: #fff;
    border-radius: 0px 0px 9px 9px;
}