.loading {
    width: 24px;
    height: 24px;
    color: #ffffff;
    animation: spin 1s linear infinite;
    fill: var(--primary-green);
}
  
.description {
  text-align: center;
  margin-top: 20px;
}

.loaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}