.pagination {
    border-top: 1px solid #E0E2E8;
    padding: 20px 10px;
    background: #fff;
    border-radius: 0px 0px 9px 9px;
}

.customHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;

    &__countWrapper {
        display: flex;
    }
}