.header {
    & {
        height: 75px;
        background: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

    &__additionally {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    &__notificationsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-left: 1px solid #CACEDB;
        padding: 0 20px;
    }

    &__settingsmenuWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #CACEDB;
        padding: 0 20px;
        height: 100%;
    }

    &__options {
        & {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__button {
        &_sidebarOpen {
            opacity: 0;
            width: 0;
            pointer-events: none;
            margin-right: 0;
        }
    }

    &__input {
        border: transparent;
        font-size: 13px;
        letter-spacing: 0.5px;
        outline: none;
        width: 80%;

        &__wrapper {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    @media(max-width: 740px) {
        & {
            padding: 0px 15px;
        }

        &__button {
            &_sidebarOpen {
                opacity: 1;
                width: auto;
                pointer-events: all;
                background: transparent;
                border: 1px solid transparent;
                margin-right: 15px;
                cursor: pointer;
            }
        }
    }

    @media(max-width: 500px) {
        & {
            height: auto;
            flex-direction: column;

            &__additionally {
                padding: 10px 0px;
            }

            &__options {
                width: 100%;
                justify-content: space-between;
                padding: 10px 0px;
                border-top: 1px solid #E0E2E8;
            }

            &__settingsmenuWrapper, &__notificationsWrapper {
                border: none;
                padding: 0;
            }

        }
    }

}