.carModel {
    
    & {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 22px;
        border-bottom: 1px solid #E1E5EB;
        min-height: 140px;
        font-weight: bold;

        @media(max-width: 810px) {
            flex-direction: column;
            align-items: flex-start;

            div {
                margin-bottom: 20px;
            }
        }
    }

    &__image {
        flex: 1 1 200px;

        img {
            max-width: 140px;
            width: 100%;
        }

        @media(max-width: 810px) {
            flex: auto
        }

    }

    &__number {
        flex: 1 1 200px;

        span {
            border: 1px solid var(--gray-dark);
            font-weight: normal;
            border-radius: 4px;
            padding: 4px 8px;
        }

        @media(max-width: 810px) {
            flex: auto
        }
    }

    &__category {
        flex: 1 1 200px;

        @media(max-width: 810px) {
            flex: auto
        }
    }

    &__price {
        flex: 1 1 200px;

        @media(max-width: 810px) {
            flex: auto
        }
    }

    &__description {
        flex: 1 1 200px;
        
        text-overflow: ellipsis;
        word-wrap: break-word;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        max-width: 140px;

        @media(max-width: 810px) {
            flex: auto
        }
    }    

}