.sidebar {
    & {
        height: 100vh;
        z-index: 20;
        background: #fff;
        box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11), 
        0px 2px 4px rgba(90, 97, 105, 0.12), 
        0px 7.5px 11px rgba(90, 97, 105, 0.1), 
        0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
        transition: all .3s ease;
    }

    &_opened {
        left: 0 !important;
    }

    &__button_close {
        display: none;
        margin: 15px 0px 0px 15px;
        background: transparent;
        border: 1px solid transparent;
        cursor: pointer;

        @media(max-width: 740px) {
            display: block;
        }
    }

    &__logo {
        
        &__item {
            max-width: 140px;
        }

        &__wrapper {
            display: flex;
            justify-content: center;
            padding: 15px 70px 15px 20px;

            @media(max-width: 420px) {
                padding: 10px 20px; 
            }
        }

    }

    &__link {
        & {
            padding: 20px 25px;
            display: flex;
            align-items: center;
            border-top: 1px solid #E1E5EB;
            font-family: "Helvetica";
            position: relative;
        }

        &:last-child {
            border-bottom: 1px solid #E1E5EB;
        }

        & div:first-child {
            margin-right: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & div:last-child {
            color: var(--primary-dark-blue);
            font-size: 15px;
        }

        &:hover div:last-child {
            color: var(--primary-blue);
        }

        &:hover::before {
            content: "";
            background: var(--primary-blue);
            width: 5px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
        }

        &_active {
            color: var(--primary-blue) !important;

            div {
                color: var(--primary-blue) !important;
            }

            &::before {
                content: "";
                background: var(--primary-blue);
                width: 5px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
            }
        }
    }

    @media(max-width: 740px) {
        & {
            position: fixed;
            left: -100%;
            width: 100%;
        }
    }

    @media(min-width: 740px) {
        max-width: 285px;
        width: 100%;
    }
}
