.footer {

    & {
        background: #FFFFFF;
        box-shadow: 0px -0.5px 3px #D7DAE3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
    }

    &__links {
        display: flex;

        a {

            & {
                color: #007BFF;
                font-size: 14px;
            }

            &:nth-child(odd) {
                margin-right: 16px;
            }
        }
    }

    &__copyright {
        color: #818EA3;
        font-size: 14px;
    }

}