.button {
    & {
        font-size: 11.5px;
        color: var(--primary-black);
        background: transparent;
        cursor: pointer;
    }

    &:hover {
        filter: brightness(0.9);
    }
    
    &:active {
        filter: brightness(0.8);
    }

    &Default {
        background: var(--primary-blue);
        color: #fff;
        padding: 8px 10px;
        text-align: center;
        border: 0.5px solid var(--primary-blue);
        border-radius: 4px;
    }

    &Dangerous {
        background: var(--primary-red);
        color: #fff;
        padding: 8px 10px;
        text-align: center;
        border: 0.5px solid var(--primary-red);
        border-radius: 4px;
    }

    &Common {
        background: #E9ECEF;
        color: var(--primary-dark-blue);
        padding: 8px 10px;
        text-align: center;
        border: 0.5px solid var(--primary-E9ECEF);
        border-radius: 4px;
    }

}