:root {
  --primary-blue: #007BFF;
  --primary-green: #0ec261;
  --primary-black: #121212;
  --primary-dark-blue: #3D5170;
  --primary-red:  #C4183C;
  --body-background: #f5f6f8;
  --text-gray: #495057;
  --gray-dark: #999999;
  --gray-light: #eeeeee;
}

html {
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
    box-sizing: inherit;
}
  

body {
    background: var(--body-background);
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
}
  
input,
input::placeholder,
button {
  font-family: 'Roboto';
}
  